:root {
    --color-primary: #006cd1;
    --color-secondary: #f85a40;
    --color-success: #00c16e;
    --color-info: #0cb9c1;
    --color-warning: #ffc845;
    --color-danger: #f48924;
    --color-text: #52565e;
    --color-dark: #52565e;
    --color-muted: #caccd1;
    --color-light: #f3f4f7;
    --color-white: #ffffff;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--color-white);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 10px;
    color: var(--color-white);
}

.logo img {
    max-width: 100px;
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav .menu-toggle {
    display: none;
}

nav .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav .nav-links li {
    margin: 0 10px;
}

nav .nav-links a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
}

.auth-buttons button {
    background-color: var(--color-success);
    border: none;
    color: var(--color-white);
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#hero-image {
    position: relative;
    width: 100%;
    height: 400px;
    /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.hero-left {
    flex: 0 0 20%;
    /* Ajusta el ancho de la imagen izquierda */
    height: 100%;
}

.hero-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.hero-text {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    /* Fondo semitransparente para el texto */
    padding: 20px;
    border-radius: 10px;
}

.carousel-arrow {
    position: absolute;
    top: 0;
    width: 10px;
    /* Ancho de las flechas */
    height: 100%;
    max-height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-light);
    text-align: center;
    padding: 10px;
}

.business_products {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    height: 400px;
}

.business_card {
    flex: 0 0 calc(100% / 4);
    text-align: center;
    margin-right: 20px;
    height: 100%;
}

.products-container {
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    /* Oculta el contenido fuera del container */
}

.products {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: calc(200% / 2.5);
    /* Ajuste para ver 2.5 cards */
    height: 100%;
}

.product_card {
    flex: 0 0 calc(100% / 2.5);
    /* Ajuste para ver 2.5 cards */
    margin: 10px;
    background-color: var(--color-light);
    padding: 20px;
    border-radius: 10px;
    scroll-snap-align: start;
    height: 75%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    box-sizing: border-box;
}

.products-container .carousel-arrow {
    height: 100%;
}