* {
    font-family: "Ubuntu";
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #154e13;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}